<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/upload.js" defer></script>
    <link rel="stylesheet" href="upload.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Home Page</h1>
    <dialog class="modal">
        <form action="/upload-file" method="POST" enctype="multipart/form-data">
            <label for="file">Upload file: </label>
            <input type="file" name="file" id="file">
            <input type="hidden" name="folderId" id="folderId">
            <button type="submit">submit</button>
        </form>
        <form action="create-folder" method="POST">
            <input type="hidden" name="parentId" id="parentId">
            <input type="text" name="folderName" placeholder="Folder name" required>
            <button type="submit">create folder</button>
        </form>

        <button class="clsBtn">x</button>
    </dialog>
    <ul>
        <% function renderTree(folders, parentId) { %>
            <% folders.filter(f => f.parentId === parentId).forEach(f => { %>
            <li>
                <span class="caret"><%= f.folderName %></span>
                <button class="add-btn hidden" data-id="<%= f.id %>">+</button>

                <% if (folders.some(child => child.parentId === f.id)) { %>
                    <ul class="nested"> 
                        <% renderTree(folders, f.id); %>
                        <% files.filter(file => file.folderId === f.id).forEach(file => { %>
                            <li>
                                <a href="/download/<%= file.id %>" download> <%= file.originalName %></a>
                            </li>
                        <% }) %>
                    </ul> 
                <% } %>
            </li>
            <% }) %>
        <% } %>
        <% renderTree(folders, null); %>
    </ul>
    <button ><a href="/log-out">log out</a></button>
</body>
</html>